:root {
    --header-background-colour: #1b232b;
    --header-font-colour: white;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    background: var(--header-background-colour);
    color: var(--header-font-colour);
}

.nav-links {
    width: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

.cart-trigger {
    display: flex;
    align-items: center;
    gap: 5px;
}