.home-container {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    flex: 1;
}

.home-left,
.home-middle,
.home-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home-left img,
.home-middle img,
.home-right img {
    height: 300px;
}

.attribution {
    font-size: 0.8rem;
    font-style: italic;
    color: white;
    position: absolute;
    bottom: 0;
}

.home-title {
    position: absolute;
    color: white;

    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    bottom: 150px;
    width: 700px;
    font-size: 2em;
}