.home-container {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    flex: 1;
}

.home-left,
.home-middle,
.home-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home-left img,
.home-middle img,
.home-right img {
    height: 400px;
    pointer-events: none;
    user-select: none;
    -drag: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
}

.home-title {
    position: absolute;
    color: white;
    user-select: none;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    bottom: 100px;
    width: 655px;
    font-size: 2em;
}