.item-card-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%px;
}

.item-card-container:hover {
    background: #f0ead6;
}

.item-image img {
    width: 400px;

}

.item-image,
.item-brand,
.item-name,
.item-cost,
.item-alias {
    display: flex;
    justify-content: center;
}

.item-brand {
    font-family: 'Courier New', Courier, monospace;
}

.item-name {
    color: rgb(119, 118, 118)
}

.add-cart-btn-container {
    display: flex;
    justify-content: center;
}

.increment-item-qty input {
    width: 50px;
    text-align: center;
}

.increment-item-qty button {
    width: 40px;
    height: 40px;
}

.add-cart-btn {
    bottom: none;
    width: 400px;
    height: 40px;
    margin: 0;
    background-color: black;
    color: white;
    font-size: 1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.increment-item-qty {
    display: flex;
    justify-content: center;
}

.hide {
    display: none;
}