.shop-container {
    display: flex;
    flex-direction: column;
}

.shop-title {
    display: flex;
    justify-content: center;
}

.item-grid {
    display: grid;
    grid-template-rows: 600px;
    grid-template-columns: repeat(auto-fill, 300px);
    gap: 25px;
    justify-content: center;
}