/* The side navigation menu */
.sidenav {
    height: 100%;
    /* 100% Full-height */
    width: 0;
    /* 0 width - change this with JavaScript */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Stay on top */
    top: 0;
    /* Stay at the top */
    right: 0;
    background-color: wheat;
    /* Black*/
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 60px;
    /* Place content 60px from the top */
    transition: 0.5s;
    /* 0.5 second transition effect to slide in the sidenav */
}

.shopping-cart-items {
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    color: black;
    gap: 20px;
}

.cart-item-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cart-item-qty-controls {
    display: flex;
}

.cart-item-qty-controls button {
    width: 25px;
    height: 25px;
}

.cart-item-qty-controls input {
    width: 3rem;
    text-align: center;
}

.cart-item-cost {
    display: flex;
    align-items: center;
    color: red;
}

.cart-item-subtotal {
    display: flex;
    align-items: center;
}

.shopping-cart-total-costs {
    display: flex;
    color: black;
    justify-content: flex-end;
    margin-right: 20px;
    font-size: 1.5rem;
}

.cart-item-container {
    display: grid;
    grid-template-columns: 100px 200px 1fr 1fr;
}

.cart-item-image img {
    width: 100px;
    height: 100px;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    left: 25px;
    font-size: 36px;
    margin-right: 50px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}